body {
    font-family: 'TT Firs Neue Trl', sans-serif !important;
}
.sky-btn {
    background: #27aee0;
    color: #fff;
    border: 1px solid #27aee0;
}
.sky-btn a {
    color: #fff;
}
.sky-btn:hover {
    color: #27aee0;
    border: 1px solid #27aee0;
    background: #fff;
}
.sky-btn:hover a {
    color: #27aee0;
}
ul.account li, .notif-box li {
    border: none !important;
    border-radius: 0 !important;
}
a.view-profile {
    background: #27aee0;
    color: #fff;
}
.logo_header {
    width: 90%;
    margin: 15px auto;
    position: relative;
}
.logo_header::before {
    content: "";
    position: absolute;
    width: 90%;
    height: 80%;
    border: 2px solid #245b8e;
    border-radius: 15px;
    top: 10%;
    left: 5%;
    box-shadow: 0 0 10px rgb(36 92 145);
}
.logo_header img {
    width: 100%;
    padding: 35px;
}
.sidebar-content li.nav-item.active {
    background: #27AAE1;
}
.sidebar-content li.nav-item:hover {
    background: #27AAE1;
}
.sidebar-content li.nav-item {
    padding: 10px 20px;
    border-radius: 12px;
    margin: 8px 0px;
}
.sidebar-content ul.nav.nav-secondary {
    width: 90%;
    margin: 0 auto;
}
.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
input.form-control::placeholder {
    color: rgba(133, 135, 141, 1);
}
ul.top_icons {
    background: #fff;
    min-height: 60px;
    padding: 10px 20px;
    border-radius: 15px;
    gap: 15px;
}
ul.top_icons li {
    border: 1px solid rgba(29, 29, 16, 0.1);
    border-radius: 14px;
}
span.down-icon {
    margin-right: 10px;
}
span.profile-username {
    color: rgba(38, 42, 65, 1);
}
.logout-panel ul.nav.nav-secondary {
    width: 90%;
    margin: 0 auto;
}
.logout-panel {
    padding: 20px 0px;
}
.logout-panel ul.nav.nav-secondary li {
    padding: 35px 20px 0px;
    border-top: 1px solid rgb(12 140 233 / 60%);
}

/* page inner header */
.user-icon-out {
    background: #d5ecf7;
    width: 55px;
    height: 55px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.dashboard_icon_out {
    background: #27AAE1;
}
.user-icon-out img {
    width: 25px;
    height: 25px;
}
.icon_text {
    gap: 10px;
}
.page-inner-header h3 {
    color: #262A41;
    font-weight: 500;
    line-height: 24px;
    font-size: 25px;
    padding-top: 8px;
}
.page-inner-header p {
    color: #85878D;
    font-size: 14px;
    font-weight: 400;
}
.page-inner-header .input-group {
    background: #fff;
    min-height: 42px;
    border-radius: 50px;
    border: 1px solid rgba(38, 42, 65, 0.2);
    margin-right: 20px;
}
.page-inner-header input.form-control {
    border: none;
    border-radius: 50px;
}
.page-inner-header .input-group input::placeholder {
    color: #262A41;
    font-size: 11px;
}
.page-inner-header .input-group-prepend {
    display: flex;
    align-items: center;
}
.page-inner-header button {
    padding: 0;
}
.page-inner-header .input-group img {
    width: 18px;
    margin-right: 10px;
}
button.filter a {
    display: flex;
    color: #262A41;
    gap: 6px;
	font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;	
}
button.filter {
    background: #fff;
    border: 1px solid rgba(38, 42, 65, 0.2);
    padding: 10px;
}
button.filter:hover {
    background: #fff;
    border: 1px solid rgba(38, 42, 65, 0.2);
    padding: 10px;
}
button.add {
    padding: 10px 14px;
}
button.add a {
    display: flex;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}




/************ data table *****/
table.teacher_table th {
    background: transparent;
}

table.teacher_table thead tr {
    border: 1px solid rgba(38, 42, 65, 0.3);
}
table.teacher_table thead th {
    color: #262A41;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 400;
	line-height: 13px;
}
table.dataTable thead .sorting:before, table.dataTable thead .sorting_asc:before, table.dataTable thead .sorting_asc_disabled:before, table.dataTable thead .sorting_desc:before, table.dataTable thead .sorting_desc_disabled:before {
    left: 10px;
	color: #262A41;
    opacity: 1;
}
table.dataTable thead .sorting:after, table.dataTable thead .sorting_asc:after, table.dataTable thead .sorting_asc_disabled:after, table.dataTable thead .sorting_desc:after, table.dataTable thead .sorting_desc_disabled:after {
    left: 20px;
	color: #262A41;
    opacity: 1;
}
/* .table-striped>tbody>tr:nth-of-type(odd)>* {
    --bs-table-color-type: var(--bs-table-striped-color);
    --bs-table-bg-type: #fff;
} */
span.teacher-profile-img img {
    width: 36px;
    height: 36px;
    border-radius: 50px;
    border: 1px solid #27aee0;
}
span.teacher-profile-img {
    margin-right: 5px;
}
table.teacher_table tbody td {
    color: #262A41;
    font-size: 13px;
    text-transform: capitalize;
    font-weight: 600;
    line-height: 13px;
}
a.view-details {
    color: #262A41;
    font-weight: 400;
    display: flex;
    gap: 6px;
    align-items: center;
    text-transform: uppercase;
}
a.view-details i {
    color: #27aee0;
    font-size: 18px;
    font-weight: 400 !important;
}
span.teacher-email {
    color: #27AAE1;
    font-size: 12px;
    font-weight: 400;
}

table.teacher_table {
    width: 100%;
    border-radius: 12px;
    overflow: hidden;
    border-spacing: 0 10px;
    margin-top: 0px !important;
}
table.teacher_table thead tr th {
    border-top: 1px solid #262A414D !important;
    border-bottom: 1px solid #262A414D !important;
}
table.teacher_table thead tr th:first-child {
    border-left: 1px solid #262A414D !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
table.teacher_table thead tr th:last-child {
    border-right: 1px solid #262A414D !important;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
table.teacher_table tbody tr td:first-child {
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}
table.teacher_table tbody tr td:last-child {
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}
tr.odd td {
    --bs-table-bg-type: #fff !important;
}
tr.even td {
    background: #EEF4F8;
}
tr.even, tr.odd {
    box-shadow: 0px 4px 114px 0px rgb(0 0 0 / 0%);
}
.table_flow {
    min-height: 480px;
    height: 480px;
    overflow-y: auto;
    overflow-x: auto;
}
.row.table-pagination-footer {
    width: 100%;
    background: #272B42;
    color: #fff;
    padding: 15px 20px;
    border-radius: 20px;
}

/* Scrollbar track (background) */
.table_flow::-webkit-scrollbar-track {
    background: #f1f1f1; 
    border-radius: 10px;
}

/* Scrollbar handle (thumb) */
.table_flow::-webkit-scrollbar-thumb {
    background: transparent;
    border-radius: 10px;
}
.table_flow:hover::-webkit-scrollbar-thumb {
    background: #28A9DF; 
}
.table_flow::-webkit-scrollbar {
    height: 6px; /* Decrease height for horizontal scrollbar */
    width: 6px; /* Keep width slim for vertical scrollbar */
}


/* teacher details */
button.btn.edit-btn {
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 25px;
    padding: 6px 10px;
}
button.btn.edit-btn a {
    color: #fff;
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 14px;
}
button.btn.edit-btn img {
    width: 16px;
    height: 16px;
    border: none;
    border-radius: 0;
}
img.back-img {
    width: 15px;
    height: 15px;
}
.teacher-info, .student-info {
    background: url(../../assets/img/teacher-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 10px;
    padding: 35px 30px;
	background-position: inherit;
}
p.teacher_name {
    color: #fff;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 0px;
    line-height: 30px;
}
p.teacher_mail {
    font-size: 16px;
    color: #28AAE1;
    font-weight: 400;
    margin-bottom: 0;
    line-height: 25px;
}
.teacher-profile {
    gap: 18px;
}
.teacher-profile img {
    width: 90px;
    height: 90px;
    border: 1px solid #28AAE1;
    border-radius: 50%;
}
.inst_details {
    width: 50%;
    float: left;
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 10px;
}
.inst_details p {
    color: #28AAE1;
    margin-bottom: 0px;
    font-weight: 400;
    font-size: 15px;
	line-height: 20px;
}
.inst_details span {
    color: #fff;
    font-size: 16px;
    font-weight: 500;
	line-height: 20px;
}
.courses-list h3 {
    font-size: 22px;
    color: rgba(38, 42, 65, 1);
    margin-bottom: 0;
}
span.course-img {
    margin-right: 10px;
}
span.course-img img {
    width: 55px;
}
input#toggleSwitch {
    margin: 0;
}
.form-check-input:checked {
    background-color: #27aee0;
    border-color: #27aee0;
}
.switch-btn {
    color: #888B99;
    border: 1px solid #888b995c;
    border-radius: 5px;
    justify-content: center;
    padding: 2px;
}
.actions button.btn {
    padding: 5px;
    border: 1px solid #888b995c;
    margin-right: 3px;
}
.actions a {
    color: #888B99;
    display: flex;
    align-items: center;
    gap: 3px;
    font-size: 13px;
}

/************* Edit Teacher **************/

.heading-bg {
    width: 100%;
    position: relative;
    text-align: center;
}
.heading-bg img {
    width: 100%;
}
.heading-bg p {
    color: #fff;
    position: absolute;
    top: 20px;
    width: 100%;
    font-size: 18px;
    font-weight: 600;
}
.profile-img {
    width: 130px;
    margin: 0 auto;
    margin-top: -13%;
    z-index: 1;
    position: relative;
}
.profile-img img {
    width: 100%;
    border-radius: 50%;
    border: 3px solid #27aee0;
}
.profile-side button {
    margin-top: 25px;
}
.profile-side {
    text-align: center;
    background: #fff;
    border-radius: 20px;
    padding: 15px 15px 40px 15px;
}
.profile-side button a {
    font-size: 14px;
}
.border-line {
    width: 84%;
    border-top: 1px solid #27aee0;
}
.section-title h6 {
    color: #27aee0;
    margin-bottom: 0;
    font-size: 16px;
}
.form-side input, .form-side select {
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    height: 50px !important;
    text-indent: 10px;
}
label.form-label {
    color: #011631 !important;
    font-weight: 500;
    margin-left: 15px;
    margin-bottom: 0;
}
.calender span.input-group-text {
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    border: 1px solid #D9D9D9 !important;
    background: #fff;
}
.calender input {
    border-right: none;
}
.calender img {
    margin-right: 5px;
}
.form-side {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
}
.input-group.phone-no select.form-select {
    padding: 0px;
    font-size: 13px;
}
button.update-teacher a {
    display: flex;
    color: #fff;
    align-items: center;
    gap: 6px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
}
button.update-teacher {
    background: #0ECE41;
    border: 1px solid #0ECE41;
    padding: 10px 14px;
}
button.update-teacher:hover {
    background: #0ECE41 !important;
    border: 1px solid #0ECE41 !important;
}
button.update-teacher:hover a {
   color: #fff !important;
}

/* Add Teacher */


/* tabs css all same*/
ul.teacher-tabs li a, ul.course-tabs li a, ul.student-tabs li a {
    background: #bde0f0;
    color: #27AAE1;
	border-top-left-radius: 12px !important;
    border-top-right-radius: 12px !important;
}
ul.teacher-tabs li a.nav-link.active, ul.course-tabs li a.nav-link.active, ul.student-tabs li a.nav-link.active {
    background: #27b1df;
    color: #fff;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
    border-bottom: none;
}
ul.teacher-tabs, ul.course-tabs, ul.student-tabs {
    gap: 5px;
    padding-left: 30px;
    border-color: transparent;
}
.add-teacher .tab-content, .add-course .tab-content, .add-student .tab-content {
    border: 1px solid #27aee0;
    border-radius: 20px;
    padding: 20px;
    background: #edf5fa;
}
.upload_file {
    width: 60%;
    margin: 0 auto;
}
.upload-box {
    border: 2px dashed #27aae178;
    border-radius: 12px;
    text-align: center;
    min-height: 240px;
    flex-direction: column;
    background: #f4f9fc;
}
.upload-box p {
    color: #5E6A95;
    font-weight: 600;
    font-size: 16px;
    padding-top: 10px;
}
.upload-box p a {
    color: #5E6A95;
    border-bottom: 1px solid #5E6A95;
}
.upload_file p {
    color: #5E6A95;
}
button.upload-btn {
    background: #0ECE41;
    border: 1px solid #0ECE41;
    padding: 9px 19px;
    color: #fff;
    font-size: 15px;
}

/* Sent Invites  */
p.accept {
    color: #77B423;
	margin-bottom: 0;
}
p.pending {
    color: #E1590C;
    margin-bottom: 0;
}
p.rejected {
    color: #B42323;
    margin-bottom: 0;
}
a.resend {
    color: #27AAE1;
    border: 1px solid #888b995c;
    padding: 4px 12px;
    border-radius: 10px;
}

/* Add Course */
.course-cover, .includes, .weekly-hours {
    background: #fff;
    border-radius: 20px;
    padding: 15px 15px 20px 15px;
    height: 100%;
    border: 1px solid #D9D9D9;
}
.course-head {
    color: #011631 !important;
    font-weight: 500 !important;
    font-size: 16px !important;
    margin-bottom: 5px;
    line-height: 22px;
}
.course-cover .ms-3 p {
    color: #85878D;
    line-height: 16px;
    margin-top: 10px;
}
.includes .form-control {
    border: none;
}
.weekly-hours input[type="radio"] {
    margin-bottom: 5px;
}
.days select.form-select {
    width: max-content;
    border: none;
    background-color: #e8f2f9;
    border-radius: 0;
    font-weight: bold;
    background: url(../../assets/img/down1.svg);
    background-repeat: no-repeat;
    background-position: right 0.75rem center;
    font-size: 12px;
	padding: 0px 22px 0px 0px;
}
.day-bg span {
    color: #262A41;
    font-size: 12px;
    font-weight: 400;
}
.days {
    border: 1px solid #D9D9D9;
    border-radius: 12px;
    padding: 20px 10px 10px;
    text-align: center;
}
.days label {
    color: #27AAE1;
    margin-bottom: 6px;
    font-weight: 600;
}
.day-bg {
    background: #e8f2f9;
    border-radius: 20px;
    padding: 5px 0;
    gap: 5px;
}
.total-hour select.form-select {
    border-radius: 20px;
    height: 40px;
    background: url(../../assets/img/down1.svg);
    background-repeat: no-repeat;
    background-position: right 1rem center;
    padding: 10px 15px;
}
.learn-points {
    background: #fff;
    border-radius: 20px;
    padding: 15px 15px 20px 15px;
    width: 100%;
    border: 1px solid #D9D9D9;
    float: left;
}
.learn-points li {
    width: 48%;
    float: left;
    background: #e8f2f9;
    margin: 1%;
    border-radius: 12px;
}
.learn-points a {
    color: #27AAE1;
    margin: 15px 0px 0px 15px;
    float: left;
}
.learn-points li button {
    background-color: #c1e5f4 !important;
    padding: 0;
    height: 30px;
    width: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #27AAE1;
}
button.submit.btn {
    padding: 12px 30px;
    width: max-content;
}
button.submit.btn a{
    font-size: 14px;
}

/* Course details */

.course-title h3 {
    font-weight: 700;
    font-size: 18px;
    line-height: 30px;
	color: #262A41;
}
.course-title p {
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
    color: #85878D;
}
.course-title button a {
    color: #262A41;
    display: flex;
    align-items: center;
    gap: 5px;
}
.row {
    margin: 0;
}
.overview-same h5 {
    font-weight: 600;
    line-height: 30px;
    font-size: 15px;
}
.overview-same ul li {
    color: #262A41;
}
.includes-same {
    border-radius: 12px;
    border: 1px solid rgba(29, 29, 16, 0.1);
    padding: 20px;
}
.includes-same {
    border-radius: 12px;
    width: 20%;
    border: 1px solid rgba(29, 29, 16, 0.1);
    padding: 20px;
    display: flex;
    gap: 20px;
}
.includes-same .img-side {
    background: #aba6c885;
    width: 60px;
    height: 50px;
    border-radius: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.includes-same .content-side label {
    font-size: 15px;
}
.includes-same .content-side p {
    font-size: 15px;
    color: #262A41;
    margin-bottom: 0;
}
.includes-same .img-side img {
    width: 50%;
}
.course-title input, .course-title select {
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    height: 50px !important;
    text-indent: 10px;
}
.evaluation-per {
    height: 50px;
    background: #E8F2F9;
}
.evaluation-per .value {
    color: #28A7DC;
}
/* assignCourseModal */
div#assignCourseModal .modal-dialog {
    margin: 0 0 0 30%;
    max-width: 70%;
}
div#assignCourseModal .modal-content {
    border-top-right-radius: 0px;
    border-bottom-right-radius: 0px;
    height: 100vh;
    position: relative;
}
div#assignCourseModal .modal-header button.btn-close {
    margin: 0;
    left: -15px;
    position: relative;
    background: #D5EBF7;
    color: #27AAE1;
    padding: 0;
    width: 30px;
    height: 30px;
    border-radius: 50%;
	opacity: 1;
}
div#assignCourseModal .modal-content::before {
    background-color: #1e4859;
    border-radius: 50%;
    content: "";
    display: inline-block;
    height: 42px;
    left: -7px;
    position: absolute;
    top: 13px;
    width: 42px;
}
div#assignCourseModal .modal-body ul li .form-check-input[type=checkbox] {
    height: 18px;
    width: 18px;
    border-radius: 50%;
}

div#assignCourseModal {
    background: #124054de;
}
div#assignCourseModal .modal-header {
    justify-content: space-between;
    border: none;
}
div#assignCourseModal .modal-body {
    background: #E8F2F9;
    width: 96%;
    margin: 0 auto;
    border-radius: 20px;
}
div#assignCourseModal .modal-body ul li {
    border: 1px solid rgba(29, 29, 16, 0.1) !important;
    border-radius: 20px !important;
    margin-bottom: 6px;
}
div#assignCourseModal .modal-body ul li img {
    border: 1px solid #27aee0;
}
h5#assignCourseModalLabel {
    color: #262A41;
    font-weight: 500;
    font-size: 22px;
}
div#assignCourseModal .input-group {
    background: #E8F2F9;
    height: 42px;
    border: none;
}
div#assignCourseModal .input-group input.form-control {
    height: 40px;
	background: #E8F2F9;
}

/* course-settings */

.course-settings .right-side {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    margin-bottom: 40px;
}
.course-settings .left-side button.nav-link {
    box-shadow: 0px 3.19px 90.79px 0px rgb(0 0 0 / 7%);
    background: #EEF4F8;
    border: 1px solid #EEF4F8;
    width: 96%;
    text-align: left;
    padding: 14px 10px;
    color: #262A41;
    font-size: 15px;
    font-weight: 400;
	border-radius: 15px;
}
.course-settings .left-side .nav-pills.flex-column .nav-link.active {
    background: #fff;
    width: 100%;
    position: relative;
    color: #28A9DF;
    font-weight: 600;
}
.course-settings .left-side .nav-pills.flex-column .nav-link.active::after {
    content: "";
    border-right: 3px solid #27AAE1;
    right: 20px;
    position: absolute;
    width: 2px;
    height: 20px;
}
.course-settings .left-side li.nav-item {
    width: 100%;
}
div#courseTabsContent h3, div#TabsContent h3 {
    color: #262A41;
    font-family: TT Firs Neue Trl;
    font-weight: 600;
    font-size: 20px;
    line-height: 26px;
	margin-bottom: 0px;
}
div#courseTabsContent p, div#TabsContent p {
    font-family: TT Firs Neue Trl;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #888B99;
}
div#courseTabsContent input.form-control {
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    height: 50px !important;
    text-indent: 10px;
}
div#courseTabsContent {
    padding: 10px;
}

.evaluation-inner button#dropdownMenuButton {
    border: 1px solid #D9D9D9;
    border-radius: 30px;
    color: #262a4154;
    font-weight: 400;
}
.evaluation-inner .dropdown-toggle::after {
    color: #262A41;
    top: 2px;
    position: relative;
}
.evaluation-inner ul {
    padding-top: 10px;
    border-radius: 10px;
}
.evaluation-inner ul li {
    padding: 10px;
    border-bottom: 1px solid #F5F3F3;
}
.evaluation-inner ul li a {
    color: #262A41;
    font-size: 14px;
    padding: 0;
}
li.manual-input {
    background: #F5F3F3;
}
li.manual-input button {
    background: #27AAE1;
    color: #fff;
    width: max-content;
    border-radius: 20px;
    font-size: 14px;
    padding: 6px 15px;
}
li.manual-input input#customInput {
    border-radius: 10px;
}

.set-avrg .slider-container {
    width: 100%;
    max-width: 400px;
    padding: 15px;
    border: 1px solid #D9D9D9;
    border-radius: 15px;
}

.set-avrg .slider-labels {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    font-weight: 400;
    color: #888B99;
    margin-bottom: 5px;
    height: 30px;
}


.set-avrg .range-slider {
        width: 100%;
        -webkit-appearance: none;
        position: relative;
        height: 12px;
        background: transparent;
        border-radius: 6px;
        outline: none;
        z-index: 2;
        cursor: pointer;
    }

.set-avrg .range-slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 25px;
        height: 25px;
        background: white;
        border: 3px solid #4caf50;
        border-radius: 50%;
        cursor: pointer;
        position: relative;
    }
.set-avrg .slider-labels span {
    position: relative;
}	
.set-avrg .slider-labels span::after {
    content: "";
    border: 0.5px solid #888b9947;
    position: absolute;
    top: 20px;
    height: 10px;
    left: 6px;
}
table#students thead tr th {
    min-width: 135px;
}
table#students thead tr th a {
	font-size: 12px;
    padding-left: 10px;

}
.table-btns button.btn {
    border: 0.84px solid rgba(38, 42, 65, 0.3);
    padding: 6px 12px;
}
.table-btns button.btn a {
    display: flex;
    align-items: center;
    gap: 5px;
    color: #262A41;
    text-transform: uppercase;
    font-size: 13px;
}
p.records {
    display: flex;
    gap: 10px;
    align-items: center;
    margin-bottom: 0;
}
p.records span {
    border: 1px solid rgba(38, 42, 65, 0.3);
    border-radius: 17px;
    padding: 5px 10px;
}
.grading-option {
    border: 1px solid rgba(29, 29, 16, 0.1);
    padding: 20px;
    border-radius: 20px;
    margin-bottom: 15px;
}
.grading-scale p {
    color: #262A41 !important;
    font-size: 15px !important;
    font-weight: 600 !important;
    margin-bottom: 0;
}
.grading-scale input.radio {
    width: 20px;
    height: 20px;
}
.grading-type label {
    color: #28A9DF;
    font-weight: 600;
}
.grading-type {
    padding-left: 40px;
}
.grading-type input {
    margin-right: 10px;
}
.grading-type span {
    padding: 0 10px;
}
.grading-scale-out {
    width: 100%;
    margin: 0 auto;
    background: #fff;
    border-radius: 20px;
    box-shadow: 0px 4px 114px 0px rgb(0 0 0 / 7%);
}
table.grade-scale {
    width: 95%;
    margin: 0 auto;
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
}
table.grade-scale th {
    color: #27A7DD;
    font-size: 18px;
    text-align: center;
}
table.grade-scale td {
    background: #EEF4F8;
}
table.grade-scale td {
    background: #EEF4F8;
    padding: 12px 10px;
    border-radius: 15px;
}
.grading-scale-out h2 {
    color: #262A41;
    font-size: 20px;
    line-height: 20px;
}
.grading-scale-out p {
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    color: #888B99;
}
.grade-scale tbody tr:first-child td {
    background: #27A7DD;
    color: #fff;
}


.section {
    border-radius: 20px;
    margin-bottom: 15px;
    border: 1px solid rgba(29, 29, 16, 0.1);
}
.value-inner {
    background: #E8F2F9;
    width: 95%;
    border: 1px solid rgba(29, 29, 16, 0.1);
    padding: 7px 20px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.value-inner select, input {
    padding: 4px 12px;
    border-radius: 6px;
    border: 1px solid rgba(29, 29, 16, 0.1);
    text-align: center;
}
.grading-scale-out .table-container {
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    border: 1px solid rgba(29, 29, 16, 0.1);
}
.grading-scale-out input.form-control {
    text-align: left;
    background: #FAFAFA;
    border: 1px solid rgba(29, 29, 16, 0.1);
    height: 47px !important;
    border-radius: 20px;
    text-indent: 10px;
}
button.custom-grade-plus {
    border: 1px solid #27AAE1;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #E0EEF3;
    color: #27AAE1;
}
button.custom-grade-cross {
    border: 1px solid #E95C0C;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #F9EEEE;
    color: #E95C0C;
}

.impact-measurement .tab-content {
    border: 1px solid #27aee0;
    border-radius: 20px;
    padding: 20px;
    background: #fff;
}
div#predefined-criteria .filter {
    display: flex;
    border: 1px solid rgba(39, 170, 225, 0.31);
    border-radius: 35px;
    padding: 2px 20px;
    align-items: center;
    width: max-content;
}
div#predefined-criteria .filter select {
    color: #27aee0;
    font-weight: 600;
}
.improving-students {
    background: #EEEEEE;
    border-radius: 20px;
}
.table-hover>tbody>tr:hover>* {
    --bs-table-color-state: var(--bs-table-hover-color);
    --bs-table-bg-state: inherit;
}
.steps {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 10px;
    padding: 20px;
    background-color: #fff;
}

    .step {
        flex: 1;
        text-align: center;
        border-radius: 10px;
    }

.step-header {
    padding: 10px 15px;
    border-radius: 10px;
    color: #262A41;
    font-weight: bold;
    font-size: 15px;
    display: block;
    border: 1px solid #D9D9D9;
	position: relative;
}
.step-content {
    margin-top: 10px;
    padding: 15px;
    border-radius: 10px;
    border: 1px solid #D9D9D9;
    background: #fff;
    text-align: left;
    box-shadow: 0 4px 6px rgb(0 0 0 / 10%);
}
.step-content p {
    display: flex;
    color: #262A41 !IMPORTANT;
    font-size: 14px !important;
    line-height: 21px !important;
}
.step-content p::before {
    content: "";
    border-right: 2px solid #27AAE1;
    width: 2px;
    height: 10px;
    margin-right: 3px;
    margin-top: 4px;
    border-radius: 60px;
}
	
.step-header::after {
    content: "";
    background-image: url(../../assets/img/right-arrow.svg);
    position: absolute;
    height: 22px;
    width: 22px;
    background-size: inherit;
    z-index: 9;
    background-repeat: no-repeat;
    right: -16px;
    top: 11px;
    background-position: center;
    background-color: #fff;
    border-radius: 50%;
    border-left: 1px solid #D9D9D9;
    border-right: 1px solid #D9D9D9;
}	
.steps .step:last-child .step-header::after {
    display: none;
}
.dashed-border img {
    width: inherit;
}

/* Course Stats */

.course-stats .filter {
    display: flex;
    border: 1px solid rgba(39, 170, 225, 0.31);
    border-radius: 35px;
    padding: 2px 20px;
    background: #fff;
    align-items: center;
    width: max-content;
}
.stats-card {
    background: #fff;
    padding: 30px 20px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
}
.stats-card .icon {
    width: 50px;
    background: #F4F9FC;
    height: 50px;
    border-radius: 8px;
    margin-right: 10px;
}
.stats-card h2 {
    font-size: 28px;
    font-weight: bold;
    color: #262A41;
    line-height: 32px;
}
.stats-card p {
    margin-bottom: 0;
    color: #8A8FAC;
    font-size: 15px;
    line-height: 20px;
}
.performance-details {
    color: #27AAE1;
    font-weight: 500;
}
.overview-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    background: #fff;
    border-radius: 10px;
    position: relative;
}
.performance-text {
    font-size: 25px;
    font-weight: 500;
    line-height: 30px;
	    margin-bottom: 0;
}
.chart-img {
    max-width: 245px;
}
.overview-content p {
    margin-bottom: 0;
}
.course_stats .tab-content {
    border: 1px solid #27aee0;
    border-radius: 20px;
    padding: 20px;
    background: #fff;
}
.overview-content::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(../../assets/img/waves.png);
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.1;
    z-index: 0;
    background-position: top;
}
.overview-content * {
    position: relative;
    z-index: 1;
}       

table#all-students a.view-details {
    justify-content: end;
}

/* Plans */ 

.plans .tab-content {
    border: 1px solid #27aee0;
    border-radius: 20px;
    padding: 20px;
    background: #fff;
}

.features-list a {
    display: block;
    padding: 10px 20px;
    margin: 5px 0;
    border-radius: 40px;
    color: #fff;
    font-weight: 500;
}
.features-list a.odd {
    background: linear-gradient(90deg, #27AAE1 0%, #0074A5 100%);
}
.features-list a.even {
    background: linear-gradient(90deg, #27aae18a 0%, #0074a573 100%);
}
.plan-out {
    position: absolute;
    top: 0px;
    width: 100%;
}
.plan-inner {
    display: flex;
    width: 92%;
    gap: 10px;
    justify-content: end;
}

.plan-card {
    background: #fff;
    border-radius: 15px;
    padding: 20px;
    text-align: center;
    box-shadow: 0px 0px 25px rgb(0 0 0 / 10%);
    min-height: 350px;
}

.plan-card.active {
    border: 2px solid #27AAE1;
    position: relative;
}
.plan-card.active h3::before {
    content: "";
    background-image: url(../../assets/img/active-plan.svg);
    position: absolute;
    width: 23px;
    height: 22px;
    background-repeat: no-repeat;
    top: -1px;
    right: -2px;
    background-size: contain;
}
.features-list {
    padding: 50px 0px;
}

.plan-card .plan-features {
    list-style: none;
    padding: 0;
    background: linear-gradient(360deg, rgba(241, 242, 244, 0) 0%, #E6E8EC 100%);
    border-radius: 15px;
    margin-bottom: 0;
}

.plan-card .plan-features li {
    padding: 10px;
    color: #52585C;
    font-size: 14px;
    font-weight: 500;
    border-bottom: 1px solid #d9d9d9b8;
}

.btn-custom {
    border-radius: 50px;
    padding: 10px 20px;
    display: inline-block;
    font-size: 12px;
}

.cta-section {
    background: #F7941E;
    padding: 0;
    border-radius: 10px;
    text-align: center;
    margin-top: 60px;
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
}
.cta-section a {
    color: #fff;
    font-weight: 400;
    padding: 12px 11px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    font-size: 13px;
    background: linear-gradient(90deg, #FFB762 0%, #F7941E 100%);
}
.cta-section img {
    position: absolute;
    top: -35px;
}
.cta-section p {
    position: relative;
    left: 114px;
    margin-bottom: 0;
}
div#basic-planPopup, div#basic-plan-request {
    background: #124054de;
}
h2#basic-planLabel, #requestSentLabel {
    color: #3D4B7C;
    font-weight: 800;
    font-size: 34px;
    line-height: 38px;
}
div#basic-planPopup .modal-body p, div#basic-plan-request .modal-body p {
    color: #3D4B7C !important;
    font-size: 16px !important;
    font-weight: 400;
}
div#basic-planPopup select.form-select {
    border: 1px solid #27AAE1;
    border-radius: 30px;
    height: 50px;
    text-indent: 10px;
}
div#basic-planPopup a.btn, div#basic-plan-request button.btn {
    border-radius: 30px;
    background: #27AAE1;
    border: 1px solid #27AAE1;
    color: #fff;
    margin-top: 10px;
    padding: 10px 20px;
}
div#basic-planPopup .modal-content {
    padding: 30px;
    border-radius: 20px;
}
div#basic-plan-request .modal-content {
    border-radius: 20px;
}
div#offers h4 {
    font-size: 20px;
    font-weight: 600;
}
.plan-side {
    background: #F6FCFF;
    padding: 20px;
    border-radius: 20px;
}
.plan-side li {
    color: #52585C;
    font-size: 13px;
    margin-bottom: 10px;
}
.plan-side li img {
    padding-right: 5px;
}
.confirmation {
    background: #E8F2F9;
    padding: 20px;
    border-radius: 20px;
}
div#offers {
    padding: 25px 0px;
}
div#offers input#acceptCheckbox {
    height: 18px;
    border-radius: 20px;
    border: 1px solid #BBCEDC;
}
/* Upgrade-request */

table#upgrade-req tbody tr td a, #user-permission tbody tr td a {
    border-radius: 30px;
}
table#upgrade-req thead th {
    font-size: 12.5px;
}
table#upgrade-req .pending { color: #FD8721; }
table#upgrade-req .paid { color: #27AAE1; }
table#upgrade-req .contacted { color: #7DD63E; }


table#upgrade-req .dropdown-toggle::after {
    vertical-align: 2px;
    color: #262A41 !important;
}
table#upgrade-req>tbody>tr>td {
    padding: 10px !important;
}
table#upgrade-req button.btn {
    padding: 0px;
    font-size: 13px;
    border: none;
    min-width: 90px;
	font-weight: 600;
}
table#upgrade-req .status.dropdown li a {
    background: #fff;
}
table#upgrade-req .status.dropdown ul.dropdown-menu {
    min-width: 85px;
}

/* teacher contact popup */
div#contactModal {
	background: #124054de;
}
div#contactModal .modal-body h5 {
    color: #3D4B7C;
    font-weight: 800;
    font-size: 30px;
    line-height: 35px;
}
div#contactModal .modal-body {
    display: flex;
    flex-direction: column;
    align-items: center;
} 
div#contactModal .modal-content {
    padding: 20px 0px;
    border-radius: 20px;
}

div#contactModal p.name {
    color: #262A41;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 10px;
}
div#contactModal p.contact {
    color: #3D4B7C;
}
div#contactModal .modal-header {
    border: none;
    padding-top: 5px;
}
div#contactModal button.btn-close {
    border: 1px solid rgba(29, 29, 16, 0.1);
    height: 25px;
    width: 25px;
    border-radius: 20px;
    position: relative;
    right: 10px;
}

/* user permission */

input.permission {
    border: 0.84px solid rgb(38 42 65 / 11%);
    width: 80px;
    height: 35px !important;
}




/*--------------------------------------------------------------
# Teacher Screens css
--------------------------------------------------------------*/

.course-item {
	background: #fff;
	border-radius: 10px;
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
}

.course-image {
    width: 110px;
    border-radius: 10px;
    object-fit: cover;
    margin-right: 15px;
}

.course-title {
    font-size: 17px;
    font-weight: 600;
    color: #262A41;
}

.course-desc {
    font-size: 13px;
    color: #888B99;
    line-height: 20px;
}

.badge-box {
    background: #f8f9fa;
    padding: 8px 12px;
    border-radius: 8px;
    gap: 5px;
    width: 49%;
    float: left;
}
.badge-box p {
    font-size: 13px;
    margin-bottom: 0;
    color: #262A41;
    line-height: 15px;
}
.course-item a {
    height: 30px;
    width: 30px;
    margin-left: 18px;
    padding: 0;
}

/*--------------------------------------------------------------
# Super Admin Screens css
--------------------------------------------------------------*/
.payment_summary {
  justify-content: normal;
  display: block;
}
.bottom_average_sec {
  max-width: 100%;
  width: 100%;
}
.payment_summary::before {
  display: none;
}

a#notifDropdown_two {
  background: #fff;
  border: 1px solid rgba(38, 42, 65, 0.2);
  padding: 10px;
  border-radius: 50px;
  margin-right: 20px;
}
.heading_filter {
  border-bottom: 1px solid #f1f1f1;
  color: #444;
  font-size: 1rem;
  font-weight: 600;
  padding: 12px 15px;
  text-align: center;
}
.modal-body .heading_filter {
  text-align: center;
}
.modal-title {
  font-size: 22px;
  font-weight: bold;
  color: #222;
}
.filter-label {
  font-size: 14px;
  font-weight: 400;
  color: #27aae1;
  margin-bottom: 10px;
  display: inline-block;
  margin-top: 10px;
}
/* User Type List */
.user-type-list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 15px;
}
.user-type-list li {
  background: transparent;
  padding: 12px 20px;
  border-radius: 30px;
  cursor: pointer;
  font-size: 16px;
  font-weight: 500;
  border: 2px solid transparent;
  transition: 0.3s;
  display: flex;
  align-items: center;
  gap: 8px;
  border-radius: 10px !important;
  border-radius: 20px !important;
  border: 1px solid #ccc !important;
}
.user-type-list li.active {
  background: white;
  border: 2px solid #007bff;
  box-shadow: 0px 2px 8px rgba(0, 123, 255, 0.2);
}
.new_notification {
  width: 400px;
  padding: 50px 20px !important;
  border-radius: 20px;
}
button.sky-btn.btn-apply {
  align-items: center;
  font-size: 14px;
  text-transform: uppercase;
  padding: 10px;
  padding: 0.65rem 1.4rem;
  font-size: 1rem;
  font-weight: 500;
  opacity: 1;
  border-radius: 3px;
  border-radius: 50px;
}
.bottom_colorbar {
    background: #F7941E;
    padding: 20px 20px;
    border-bottom-right-radius: 25px;
    border-bottom-left-radius: 25px;
    width: 90%;
    color: #fff;
	padding: 10px 20px;
	font-size: 16px;	
}
.bottom_bluecolorbar {
	    width: 70%;
    margin-left: 10%;
}
.right_color p {
    margin-bottom: 0px;
}
.notification-card {
     background: white;
     border-radius: 10px;
     padding: 15px;
     margin-bottom: 10px;
     box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
     padding-left: 40px;
}
 .notification-time {
     font-size: 0.9rem;
     color: gray;
}
 .notification-title {
     font-weight: bold;
}
 .grading-scale-out h6.text-primary {
     background: #D5EBF7;
     color: #27AAE1;
     padding: 10px;
     border-radius: 20px;
     text-align: center;
}
 p.notification-title {
     color: #262A41;
     font-size: 18px;
     font-weight: 700;
}
 .notification-card:hover {
     border: 2px solid #d5ebf7;
}
 .pricing-details {
     margin-top: 15px;
}
 .pricing-details p {
     font-size: 1rem;
     color: #333;
     margin-bottom: 5px;
}
 .pricing-details strong {
     font-size: 1.1rem;
     color: #000;
}
 .click-here {
     color: #007bff;
     text-decoration: none;
     font-weight: bold;
}
 .click-here:hover {
     text-decoration: underline;
}
 .right-side .card-box {
     border-radius: 12px;
     padding: 25px;
}
 .left_basic {
     background: #E8F2F9;
     box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
}
 .feature-list {
     list-style: none;
     padding: 0;
}
 .feature-list li {
     display: flex;
     align-items: center;
     font-size: 16px;
     margin-bottom: 10px;
}
 .feature-list li i {
     color: #28a745;
     margin-right: 10px;
}
 .plan-options {
     background: #f1f8ff;
     padding: 15px;
     border-radius: 10px;
}
 .plan-options label {
     display: block;
     font-weight: bold;
     font-size: 18px;
     color: #3D4B7C !important;
}
 .btn-accept {
     border-radius: 25px;
     padding: 10px 25px;
}
 .btn-accept:hover {
     background: #0056b3;
}
 .Basic {
     background: rgba(255, 255, 255, 1) 
}
 .plan_type {
     background: #E8F2F9;
     width: 80%;
}
 .plan_type .form-check-input:checked {
     background-color: #27aee0;
     border-color: #27aee0;
     height: 20px;
     width: 20px;
}
 .plan_type .form-check-input {
     height: 20px;
     width: 20px;
}
 .plan_type .value-inner select, input {
     padding: 1px 10px;
}
 .feature-list li strong {
     margin-left: 10px;
     color: #52585C !important;
     font-weight: bold;
}
 .feature-list li img {
     margin-right: 10px;
}
 